* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: #333;
}

li {
  list-style: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container {
  max-width: 130rem;
  margin: 1.2rem auto;
}
